@charset "UTF-8";

body {
    color: #000000;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 380px;
    height: 355px;
    background-color: orange;
    margin: auto;
    border-radius: 5px;
    color: rgb(255, 250, 250);
    font-weight: bolder;
    font-size: 1.1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.633);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

p {
    margin: 0;
    text-align: center;
    padding-top: 15px;
}


#bloco {
    padding-top: 35px;
    text-align: justify;
    margin-left: 30px;
}


.box {
    background-color: #F0F0F0;
    border-radius: 5px;
    margin: 5px 10px 10px 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 60px;
    font-size: 1.2em;
    font-weight: bold;
}


#oper {
    margin-left: 85px;
}

.operadores {
    margin-top: 10px;
    width: 30px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.756);
}

.operadores:hover {
    background-color: #000000;
    color: white;
}

#resul {
    background-color: #F0F0F0;
    color: black;
    max-width: 200px;
    margin: auto;
    height: 40px;
    margin-top: 25px;
    padding-top: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.5em;
    text-shadow: none;
}

.footer {
    color: #000000;
    font-size: 0.7em;
    text-shadow: none;
    padding-top: 23px;
}